---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from "astro:transitions";

import Articles from "../components/Articles.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />

    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@0.9.455/build/spline-viewer.js"
    ></script>
  </head>
  <body>
    <main class="pt-20 max-w-3xl mx-auto grid gap-10">
      <h2 class="text-3xl tracking-wide pt-0">Notes</h2>

      <Articles />
    </main>

    <Footer />
  </body>
</html>
