---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />

    <script
      type="module"
      src="https://unpkg.com/@splinetool/viewer@0.9.455/build/spline-viewer.js"
    ></script>
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <main transition:animate="fade">
      <div class="text-center">🚧　工事中　🚧</div>
    </main>

    <Footer />
  </body>
</html>
