---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { ViewTransitions } from "astro:transitions";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);

// Scrapboxのデータを取得
const response = await fetch("https://scrapbox.io/api/pages/hibikihsh");
const data = await response.json();
const memos = data.pages
  .sort((a: any, b: any) => b.updated - a.updated)
  .slice(0, 4);
---

<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <main class="pt-10 sm:pt-20 sm:max-w-2xl mx-auto w-full">
      <div class="relative flex flex-col gap-20 flex-1">
        <section>
          <div>
            <img
              src="/me.png"
              alt=""
              class="rounded-full w-32 h-32 hover:animate-spin hover:animate-duration-[3000ms]"
            />
            <h1 class="text-3xl font-bold pt-4">Hibiki Hoshi</h1>
            <p class="text-gray-400">Developer</p>
          </div>

          <nav class="absolute top-0 right-0">
            <ul class="flex list-none pl-0 gap-3 min-w-max text-gray-400">
              <li>
                <a href="/" class="text-sm sm:text-base no-underline">Home</a>
              </li>/
              <li>
                <a href="/blog" class="text-sm sm:text-base no-underline"
                  >Blog</a
                >
              </li>/
              <li>
                <a href="/contacts" class="text-sm sm:text-base no-underline"
                  >Contacts</a
                >
              </li>
            </ul>
          </nav>
        </section>

        <section class="border-y py-6">
          <p>ものづくりが好きなエンジニアです。</p>

          <p>宮城県塩竈市出身。青森県弘前市在住 。</p>

          <p>
            仙台高等専門学校卒業後、弘前大学に編入学。学士までは電気・電子情報工学を専攻。<br
            />
            学士卒業後は、同大学院の地域系の学部に進学。心理学を学んでいました。
          </p>

          <p>
            趣味はスポーツ全般。特にバスケットボールが好き。
            <br />マイブームは旅行。台湾行ったり、長崎行ったり。
          </p>

          <div class="overflow-x-auto w-full pt-4 pb-4">
            <ul class="flex list-none pl-0 gap-4 min-w-max">
              <li>
                <img
                  src="/gyutan.png"
                  alt=""
                  class="w-[160px] h-[160px] sm:w-[200px] sm:h-[200px]"
                />
                <small class="text-gray-400">牛タン</small>
              </li>
              <li>
                <img
                  src="/sakura.png"
                  alt=""
                  class="w-[160px] h-[160px] sm:w-[200px] sm:h-[200px]"
                />
                <small class="text-gray-400">弘前の桜</small>
              </li>
              <li>
                <img
                  src="/gunkanzima.png"
                  alt=""
                  class="w-[160px] h-[160px] sm:w-[200px] sm:h-[200px]"
                />
                <small class="text-gray-400">長崎の軍艦島</small>
              </li>
              <li>
                <img
                  src="/kyuhun.png"
                  alt=""
                  class="w-[160px] h-[160px] sm:w-[200px] sm:h-[200px]"
                />
                <small class="text-gray-400">九份</small>
              </li>
            </ul>
          </div>
        </section>

        <section>
          <div class="sm:flex justify-between items-center">
            <h2 class="text-xl font-bold pb-0">気づき・メモ</h2>
            <a
              href="https://scrapbox.io/hibikihsh"
              class="text-sm text-gray-400 sm:text-right block mt-2 sm:pt-0 hover:text-gray-600 transition-all"
              target="_blank"
              rel="noopener noreferrer"
            >
              View all memos →
            </a>
          </div>

          <ul
            class="sm:gap-4 list-none pl-0 pt-2 grid grid-cols-1 sm:grid-cols-2 grid-rows-subgrid"
          >
            {
              memos.map((memo: any) => (
                <li class="my-2 grid grid-rows-subgrid">
                  <a
                    href={`https://scrapbox.io/hibikihsh/${memo.title}`}
                    class="p-4 bg-gray-50 rounded-md shadow-md hover:shadow-lg transition-all transform rotate-0 hover:-rotate-1 h-full flex flex-col no-underline"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <div class="flex justify-between items-start">
                      <h3 class="text-lg font-semibold">{memo.title}</h3>
                      <span class="text-xs text-gray-500">
                        {new Date(memo.updated * 1000).toLocaleDateString(
                          "ja-JP",
                        )}
                      </span>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>

        <section>
          <h2 class="text-xl font-bold">学歴</h2>
          <ul class="grid gap-1">
            <li>
              2022-2024 弘前大学大学院 地域共創科学研究科 地域リノベーション専攻
            </li>
            <li>2020-2022 弘前大学 理工学部 電子情報工学科</li>
            <li>2016-2020 仙台高等専門学校 名取キャンパス</li>
          </ul>
        </section>

        <section>
          <h2 class="text-xl font-bold">経歴</h2>
          <ul class="grid gap-1">
            <li>2021/12~ farmin合同会社</li>
          </ul>
        </section>

        <Footer />
      </div>
    </main>

    <script is:inline>
      const btn = document.getElementById("menuBtn");
      const nav = document.getElementById("slideNav");
      let open = false;
      btn.addEventListener("click", () => {
        open = !open;
        if (open) {
          nav.classList.remove(
            "translate-y-8",
            "opacity-0",
            "pointer-events-none",
          );
          nav.classList.add(
            "translate-y-0",
            "opacity-100",
            "pointer-events-auto",
          );
        } else {
          nav.classList.add(
            "translate-y-8",
            "opacity-0",
            "pointer-events-none",
          );
          nav.classList.remove(
            "translate-y-0",
            "opacity-100",
            "pointer-events-auto",
          );
        }
      });
    </script>
  </body>
</html>
