---
import { Github } from "../assets/icons/Github";

const today = new Date();
---

<footer class="text-center px-4">
  <div
    class="grid gap-4 *:border *:py-2 *:border-gray-400 *:text-sm *:rounded-sm *:no-underline *:cursor-pointer sm:grid-cols-2"
  >
    <a
      href="https://github.com/hibikihsh"
      rel="noopener"
      target="_blank"
      class="hover:bg-gray-100 transition-all ease-in-out tracking-wider"
    >
      Github</a
    >
    <a
      href="https://x.com/hbk_hsh"
      rel="noopener"
      target="_blank"
      class="hover:bg-gray-100 transition-all ease-in-out">X</a
    >
    <a
      href="https://www.instagram.com/hbk_hsh/"
      rel="noopener"
      target="_blank"
      class="hover:bg-gray-100 transition-all ease-in-out tracking-wider"
      >Instagram</a
    >
    <a
      href="https://sizu.me/hbkhsh"
      rel="noopener"
      target="_blank"
      class="hover:bg-gray-100 transition-all ease-in-out tracking-wider"
      >しずかなインターネット</a
    >
  </div>

  <div class="text-sm pt-8 text-gray-400">
    &copy; {today.getFullYear()} Hibiki Hoshi. All rights reserved.
  </div>
</footer>
