---
const today = new Date();
---

<footer class="mt-20 max-w-[720px] mx-auto">
  <div class="text-sm pt-10">
    &copy; {today.getFullYear()} Hibiki Hoshi. All rights reserved.
  </div>
</footer>

<style>
  footer {
    color: rgb(var(--gray));
    text-align: center;
    /* border-top: 1px solid rgb(var(--gray-light)); */
    padding-bottom: 2rem;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 2em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
